body {
  background-color: #eeeeee;
}

a {
text-decoration: none;
color: black;
font-size: 14px;
font-weight: bold;
}

a:hover {
  text-decoration: underline; <!-- hover affect -->
}

.header {
  padding: 0px 0px 0px 0px;
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
  background-color: #088da5;
  border: 8px solid #666666;
}

.nav {
  float: right;
  text-align: right;
  padding: 20px 0px 0px 0px;
}

h1  {
  margin: 10px 0px 0px 0px;
}

.content {
  margin-top: 100px;
}

img {
  box-shadow: 5px 5px 5px #777777; <!-- shadow behind each box/image -->
}
