body {
  width: 900px;
}

.sideNotes {
  font-size: 15px;
}

.first {
  width: 230px;
  float: left;
  height: 300px;
  background-color: #d7d7d7;
  margin: 5px;
}

.second {
  width: 230px;
  float: left;
  height: 300px;
  background-color: #36939e;
  margin: 5px;
}

.third {
  width: 230px;
  float: left;
  background-color: #9e466b;
  margin: 5px;
}

.fourth {
  width: 230px;
  float: left;
  background-color: #e0301e;
  margin: 5px;
}

.fifth {
  width: 230px;
  float: left;
  background-color: #23c5e3;
  margin: 5px;
}

.sixth {
  width: 230px;
  float: left;
  background-color: #77e180;
  margin: 5px;
}
