

.column1of2 {
  /*border: 1px solid black;*/
  float: left;
  width: 700px;
  margin: 0px 10px 10px 150px;
  /*color: green;*/
}

.column2of2 {
  float: left;
  width: 200px;
  margin: 0px 10px 10px 10px;
}

a {
  color: black;
}

h1 {
  border: 10px double orange;
  text-align: center;
  padding: 10px;
}
